{% from "launch_Card.html" import render_launch %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SpaceX Launches</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/styles.css')}}"
    />
  </head>
  <body>
    <nav class="nav-bar">
      <div class="nav-left">
        <div class="nav-logo">
          <img
            src="https://www.spacex.com/static/images/share.jpg"
            class="logo-img"
            alt="logo-img"
          />
        </div>
        <h1>SpaceX Launches</h1>
      </div>
      <div class="nav-right">
        <ul class="nav nav-tabs tabs">
          <li class="nav-item">
            <a href="#successful" class="nav-link active" data-toggle="tab"
              >Successful</a
            >
          </li>

          <li class="nav-item">
            <a href="#failed" class="nav-link" data-toggle="tab">Failed</a>
          </li>

          <li class="nav-item">
            <a href="#upcoming" class="nav-link" data-toggle="tab">Upcoming</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="tab-content">
      <div id="successful" class="container tab-pane active">
        {%for launch in launches.successful %} {{render_launch(launch)}} {%
        endfor %}
      </div>

      <div id="failed" class="container tab-pane fade">
        {%for launch in launches.failed %} {{render_launch(launch)}} {% endfor
        %}
      </div>

      <div id="upcoming" class="container tab-pane fade">
        {%for launch in launches.upcoming %} {{render_launch(launch)}} {% endfor
        %}
      </div>
    </div>
  </body>
  <footer>
    <div class="footer">
      <div class="footer-title"><h2>SpaceX Launches</h2></div>

      <div class="lr-footer-container">
        <div class="footer-left">
          <h5>Learn Unclickable</h5>
        </div>
        <div class="footer-right">
          <h5>About Unclickable</h5>
        </div>
      </div>
    </div>
  </footer>
</html>
