{% macro render_launch(launch)%}
<div class="launch-card">
  {%if launch.links.patch.large%}
  <img src="{{launch.links.patch.large}}" class="launch-img" alt="launch-img" />
  {%else%}
  <img
    src="https://www.spacex.com/static/images/share.jpg"
    class="launch-img"
    alt="launch-img"
  />
  {%endif%}

  <div>
    <div class="launch-name card-text">{{launch.name}}</div>
    <p class="card-text">Flight Number: {{launch.flight_number}}</p>
    {%if launch.details%}
    <p class="card-text">{{launch.details}}</p>
    {%endif%} {% if not launch.upcoming%}
    <div class="launch-date card-text">{{launch.date_utc | date_only}}</div>
    {%endif%}

    <div class="launch-links">
      {%if launch.links.wikipedia%}
      <a href="{{launch.links.wikipedia}}" target="_blank">Wikipedia</a>
      {%endif%} {%if launch.links.reddit.launch%}
      <a href="{{launch.links.reddit.launch}}" target="_blank">reddit</a>
      {%endif%}
    </div>
  </div>
</div>
{% endmacro %}
